#title {
	color: red;
	text-align: center;
}

#subtitle {
	color: red;
	text-align: center;
}

#bcm50img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

p {
	font-family: "Times New Roman", Times, serif;
	color: white;
}

a {
	color: green;
}

body {
	background-color: black;
}